body {
  font-family: "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 0;
  marign-top: 40px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
input {
  outline: none;
  font-size: 1.0rem;
  padding: 0 5px;
}

button {
  text-transform: uppercase;
  font-size: 0.8rem;
  padding: 3px 15px;
  color: white;
  line-height: 25px;
  background-color: #00bcd4;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.12) 0 1px 6px, rgba(0, 0, 0, 0.12) 0 1px 4px;
  transition: all 150ms ease-in;
  outline: none;
}

button:hover {
  background-color: #79d7e4;
}

button.turn:hover {
  background-color: #eaeaea;
}

.container {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid lightgrey;
  overflow-y: scroll;
}

li {
  padding: 10px 10px 10px 10px;
}

.controls-wrapper {
  background-color: rgb(255, 255, 255);
  width: 400px;
  margin: 20px auto;
  border: 1px solid lightgrey;
}

.chat-wrapper {
  padding: 10px;
}

.chat-wrapper form {
  display: flex;
}

.chat-wrapper form input {
  font-size: 1.0rem;
  margin: 0 10px 0 0;
  padding: 0 5px;
  flex-grow: 1;
}

.chat-wrapper form button {
  width: 80px;
}

#events {
  height: 150px;
  text-align: left;
}
#color {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
.color-square {
  margin-left: 20px;
  width: 40px;
  height: 40px;
  display: block;
}
.buzzer {
  margin-bottom: 20px;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  display: block;
  cursor: pointer;
  opacity: 0.9;
}
.buzzer:hover {
  opacity: 1;
}
.buzzer:active {
  opacity: 1;
  box-shadow: 0 5px rgba(226, 226, 226, 0.99);
  transform: translateY(4px);
}
#audio {
  display: none;
}
#confetti-canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}